<!-- #region PT -->
<div class="bg-white shadow p-4 rounded" *ngIf="site.language=='PT'">
  <h1 class="text-center">{{ 'platform.jammer.dataform.jammerinformation' | translate }}</h1>
  <div class="warning text-center p-4">
    <p>
      {{ 'platform.jammer.dataform.info1' | translate }}<br>
      {{ 'platform.jammer.dataform.info2' | translate }}
    </p>
  </div>

  <form (submit)="saveJammerData()" [formGroup]="jammerDataForm" class="m-2">
    <div class="row">
      <div class="form-group col-sm-6"> <!-- NAME -->
        <label for="name" class="required">{{ 'platform.jammer.dataform.name' | translate }}</label>
        <input type="text" class="form-control" formControlName="name">
      </div>

      <div class="form-group col-sm-6"> <!-- COUNTRY BORN -->
        <label for="name" class="required">{{ 'platform.jammer.dataform.countryborn' | translate }}</label>
        <select class="form-control formList" id="countries" formControlName="countryOfOrigin">
          <option value="" disabled selected hidden>{{ 'platform.jammer.dataform.countryoforigin' | translate }}</option>
          <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
        </select>
      </div>

      <div class="form-group col-sm-6"> <!-- COUNTRY LIVING -->
        <label for="name" class="required">{{ 'platform.jammer.dataform.countryliving' | translate }}</label>
        <select class="form-control formList" id="countries" formControlName="countryOfResidence">
          <option value="" disabled selected hidden>{{ 'platform.jammer.dataform.countryofresidence' | translate }}</option>
          <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
        </select>
      </div>

      <div class="form-group col-sm-6"> <!-- CITY -->
        <label for="name" class="required">{{ 'platform.jammer.dataform.city' | translate }}</label>
        <input type="text" class="form-control" formControlName="city">
      </div>

      <div class="form-group col-sm-6"> <!-- EMAIL -->
        <label for="name" class="required">{{ 'platform.jammer.dataform.email' | translate }}</label>
        <input type="text" class="form-control" formControlName="email">
      </div>

      <div class="form-group col-sm-6"> <!-- DISCORD -->
        <label for="name" class="required">{{ 'platform.jammer.dataform.discord' | translate }}</label>
        <input type="text" class="form-control" formControlName="discordUsername">
      </div>

      <div class="form-group col-sm-6"> <!-- ETHNICITY -->
        <label for="name" class="required">{{ 'platform.jammer.dataform.ethnicity' | translate }}</label>
        <div class="border border-secondary rounded p-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="ethnicity" id="ethnicityA" value="Asian" formControlName="ethnicity">
            <label class="form-check-label" for="ethnicityA">
              {{ 'platform.jammer.dataform.ethnicityoptions.asian' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="ethnicity" id="ethnicityBl" value="Black" formControlName="ethnicity">
            <label class="form-check-label" for="ethnicityBl">
              {{ 'platform.jammer.dataform.ethnicityoptions.black' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="ethnicity" id="ethnicityBr" value="Brown(Mix)" formControlName="ethnicity">
            <label class="form-check-label" for="ethnicityBr">
              {{ 'platform.jammer.dataform.ethnicityoptions.brown' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="ethnicity" id="ethnicityI" value="Indigenous" formControlName="ethnicity">
            <label class="form-check-label" for="ethnicityI">
              {{ 'platform.jammer.dataform.ethnicityoptions.indiginous' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="ethnicity" id="ethnicityW" value="White" formControlName="ethnicity">
            <label class="form-check-label" for="ethnicityW">
              {{ 'platform.jammer.dataform.ethnicityoptions.white' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="ethnicity" id="ethnicityNo" value="NoAnswer" formControlName="ethnicity">
            <label class="form-check-label" for="ethnicityNo">
              {{ 'platform.jammer.dataform.no' | translate }}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-6"> <!-- GENDER -->
        <label for="name" class="required">{{ 'platform.jammer.dataform.gender' | translate }}</label>
        <div class="border border-secondary rounded p-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="genderM" value="Male" formControlName="gender">
            <label class="form-check-label" for="genderM">
              {{ 'platform.jammer.dataform.genderoptions.male' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="genderF" value="Female" formControlName="gender">
            <label class="form-check-label" for="genderF">
              {{ 'platform.jammer.dataform.genderoptions.female' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="genderNB" value="Non-binary" formControlName="gender">
            <label class="form-check-label" for="genderNB">
              {{ 'platform.jammer.dataform.genderoptions.nonbinary' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="genderN" value="Prefer not to declare" formControlName="gender">
            <label class="form-check-label" for="genderN">
              {{ 'platform.jammer.dataform.no' | translate }}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-6"> <!-- INTERSEX -->
        <label for="name" class="required">{{ 'platform.jammer.dataform.intersex' | translate }}</label>
        <div class="border border-secondary rounded p-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="intersex" id="genderM" value="Yes" formControlName="intersex">
            <label class="form-check-label" for="genderM">
              {{ 'platform.common.yes' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="intersex" id="genderF" value="No" formControlName="intersex">
            <label class="form-check-label" for="genderF">
              {{ 'platform.common.no' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="intersex" id="genderNB" value="Prefer not to declare" formControlName="intersex">
            <label class="form-check-label" for="genderNB">
              {{ 'platform.jammer.dataform.no' | translate }}
            </label>
          </div>
        </div>

        <!-- ORIENTATION -->
        <label for="orientation" class="required">{{ 'platform.jammer.dataform.orientation' | translate }}</label>
        <div class="border border-secondary rounded p-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="orientationAs" formControlName="orientationAs">
            <label class="form-check-label" for="orientationAs">
              {{ 'platform.jammer.dataform.orientationoptions.asexual' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="orientationBi" formControlName="orientationBi">
            <label class="form-check-label" for="orientationBi">
              {{ 'platform.jammer.dataform.orientationoptions.bisexual' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="orientationGay" formControlName="orientationGay">
            <label class="form-check-label" for="orientationGay">
              {{ 'platform.jammer.dataform.orientationoptions.gay' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="orientationHet" formControlName="orientationHet">
            <label class="form-check-label" for="orientationHet">
              {{ 'platform.jammer.dataform.orientationoptions.heterosexual' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="orientationLes" formControlName="orientationLes">
            <label class="form-check-label" for="orientationLes">
              {{ 'platform.jammer.dataform.orientationoptions.lesbian' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="orientationPan" formControlName="orientationPan">
            <label class="form-check-label" for="orientationPan">
              {{ 'platform.jammer.dataform.orientationoptions.pansexual' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="orientationO" formControlName="orientationO">
            <label class="form-check-label" for="orientationO">
              {{ 'platform.jammer.dataform.other' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="orientationNo" formControlName="orientationNo">
            <label class="form-check-label" for="orientationNo">
              {{ 'platform.jammer.dataform.no' | translate }}
            </label>
          </div>
        </div>
      </div>
      
      <!-- PRONOUNS
      <div class="form-group col-sm-6">
        <label for="industry">Quais pronomes você usa?</label>
        <div class="border border-secondary rounded p-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="pronoun1" formControlName="pronounH">
            <label class="form-check-label" for="pronoun1">
              Ele/Dele
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="pronoun2" formControlName="pronounS">
            <label class="form-check-label" for="pronoun2">
              Ela/Dela
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="pronoun3" formControlName="pronounT">
            <label class="form-check-label" for="pronoun3">
              Elu/Delu
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="pronoun4" formControlName="pronounO">
            <label class="form-check-label" for="pronoun4">
              Outro / Prefiro não responder
            </label>
          </div>
        </div>
      </div>
      -->

      <div class="form-group col-sm-6"> <!-- IDENTITY -->
        <label for="identity" class="required">{{ 'platform.jammer.dataform.identity' | translate }}</label>
        <div class="border border-secondary rounded p-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="identityAg" formControlName="identityAg">
            <label class="form-check-label" for="identityAg">
              {{ 'platform.jammer.dataform.identityoptions.agender' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="identityCM" formControlName="identityCM">
            <label class="form-check-label" for="identityCM">
              {{ 'platform.jammer.dataform.identityoptions.cisman' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="identityCW" formControlName="identityCW">
            <label class="form-check-label" for="identityCW">
              {{ 'platform.jammer.dataform.identityoptions.ciswoman' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="identityGF" formControlName="identityGF">
            <label class="form-check-label" for="identityGF">
              {{ 'platform.jammer.dataform.identityoptions.genderfluid' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="identityQ" formControlName="identityQ">
            <label class="form-check-label" for="identityQ">
              {{ 'platform.jammer.dataform.identityoptions.queer' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="identityTM" formControlName="identityTM">
            <label class="form-check-label" for="identityTM">
              {{ 'platform.jammer.dataform.identityoptions.transman' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="identityTW" formControlName="identityTW">
            <label class="form-check-label" for="identityTW">
              {{ 'platform.jammer.dataform.identityoptions.transwoman' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="identityT" formControlName="identityT">
            <label class="form-check-label" for="identityT">
              {{ 'platform.jammer.dataform.identityoptions.travesti' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="identityO" formControlName="identityO">
            <label class="form-check-label" for="identityO">
              {{ 'platform.jammer.dataform.other' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="identityNo" formControlName="identityNo">
            <label class="form-check-label" for="identityNo">
              {{ 'platform.jammer.dataform.no' | translate }}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-6"> <!-- DISABILITIES -->
        <label for="orientation" class="required">{{ 'platform.jammer.dataform.disability' | translate }}</label>
        <div class="border border-secondary rounded p-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="disabilityN" formControlName="disabilityN">
            <label class="form-check-label" for="disabilityN">
              {{ 'platform.common.no' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="disabilityYI" formControlName="disabilityYI">
            <label class="form-check-label" for="disabilityYI">
              {{ 'platform.jammer.dataform.disabilityoptions.intellectual' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="disabilityYP" formControlName="disabilityYP">
            <label class="form-check-label" for="disabilityYP">
              {{ 'platform.jammer.dataform.disabilityoptions.physical' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="disabilityYV" formControlName="disabilityYV">
            <label class="form-check-label" for="disabilityYV">
              {{ 'platform.jammer.dataform.disabilityoptions.visual' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="disabilityYH" formControlName="disabilityYH">
            <label class="form-check-label" for="disabilityYH">
              {{ 'platform.jammer.dataform.disabilityoptions.hearing' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="disabilityO" formControlName="disabilityO">
            <label class="form-check-label" for="disabilityO">
              {{ 'platform.jammer.dataform.other' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="disabilityNo" formControlName="disabilityNo">
            <label class="form-check-label" for="disabilityNo">
              {{ 'platform.jammer.dataform.no' | translate }}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-6"> <!-- STUDENT -->
        <label for="name" class="required">{{ 'platform.jammer.dataform.student' | translate }}</label>
        <div class="border border-secondary rounded p-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="student" id="studentY" value="Yes" formControlName="student">
            <label class="form-check-label" for="studentY">
              {{ 'platform.common.yes' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="student" id="studentN" value="No" formControlName="student">
            <label class="form-check-label" for="studentN">
              {{ 'platform.common.no' | translate }}
            </label>
          </div>
        </div>

        <!-- SCHOOL -->
        <label for="name">{{ 'platform.jammer.dataform.school' | translate }}</label>
        <input type="text" class="form-control" formControlName="school" maxlength="100">
      </div>
      
      <div class="form-group col-sm-6"> <!-- DEGREE -->
        <label for="name" class="required">{{ 'platform.jammer.dataform.degree' | translate }}</label>
        <div class="border border-secondary rounded p-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="degree" id="degree1" value="Highschool Incomplete" formControlName="degree">
            <label class="form-check-label" for="degree1">
              {{ 'platform.jammer.dataform.degreeoptions.hsimcomplete' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="degree" id="degree2" value="Highschool Complete" formControlName="degree">
            <label class="form-check-label" for="degree2">
              {{ 'platform.jammer.dataform.degreeoptions.hscomplete' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="degree" id="degree3" value="Technical Degree" formControlName="degree">
            <label class="form-check-label" for="degree3">
              {{ 'platform.jammer.dataform.degreeoptions.technical' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="degree" id="degree4" value="Undergraduate" formControlName="degree">
            <label class="form-check-label" for="degree4">
              {{ 'platform.jammer.dataform.degreeoptions.undergraduate' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="degree" id="degree5" value="Bachelor or Licenciate" formControlName="degree">
            <label class="form-check-label" for="degree5">
              {{ 'platform.jammer.dataform.degreeoptions.bachelor' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="degree" id="degree6" value="Postgraduate" formControlName="degree">
            <label class="form-check-label" for="degree6">
              {{ 'platform.jammer.dataform.degreeoptions.postgraduate' | translate }}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-6"> <!-- STUDIES -->
        <label for="industry">{{ 'platform.jammer.dataform.studies' | translate }}</label>
        <div class="border border-secondary rounded p-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="study1" formControlName="studyNone">
            <label class="form-check-label" for="study1">
              {{ 'platform.jammer.dataform.studiesoptions.option1' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="study2" formControlName="studyFree">
            <label class="form-check-label" for="study2">
              {{ 'platform.jammer.dataform.studiesoptions.option2' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="study3" formControlName="studyTechnical">
            <label class="form-check-label" for="study3">
              {{ 'platform.jammer.dataform.studiesoptions.option3' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="study4" formControlName="studyDegree">
            <label class="form-check-label" for="study4">
              {{ 'platform.jammer.dataform.studiesoptions.option4' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="study4" formControlName="studyPostgraduate">
            <label class="form-check-label" for="study4">
              {{ 'platform.jammer.dataform.studiesoptions.option5' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="study5" formControlName="studyProgramming">
            <label class="form-check-label" for="study5">
              {{ 'platform.jammer.dataform.studiesoptions.option6' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="study6" formControlName="studyDesign">
            <label class="form-check-label" for="study6">
              {{ 'platform.jammer.dataform.studiesoptions.option7' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="study7" formControlName="studyArts">
            <label class="form-check-label" for="study7">
              {{ 'platform.jammer.dataform.studiesoptions.option8' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="study8" formControlName="studyMusic">
            <label class="form-check-label" for="study8">
              {{ 'platform.jammer.dataform.studiesoptions.option9' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="study9" formControlName="studyNarrative">
            <label class="form-check-label" for="study9">
              {{ 'platform.jammer.dataform.studiesoptions.option10' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="study10" formControlName="studyBiz">
            <label class="form-check-label" for="study10">
              {{ 'platform.jammer.dataform.studiesoptions.option11' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="study11" formControlName="studyOther">
            <label class="form-check-label" for="study11">
              {{ 'platform.jammer.dataform.studiesoptions.option12' | translate }}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-6"> <!-- INDUSTRY -->
        <label for="industry">{{ 'platform.jammer.dataform.industry' | translate }}</label>
        <div class="border border-secondary rounded p-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="He/Him" id="industry1" formControlName="industryFree">
            <label class="form-check-label" for="industry1">
              {{ 'platform.jammer.dataform.industryoptions.option1' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="He/Him" id="industry2" formControlName="industryStudio">
            <label class="form-check-label" for="industry2">
              {{ 'platform.jammer.dataform.industryoptions.option2' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="He/Him" id="industry3" formControlName="industryOwn">
            <label class="form-check-label" for="industry3">
              {{ 'platform.jammer.dataform.industryoptions.option3' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="He/Him" id="industry4" formControlName="industryNone">
            <label class="form-check-label" for="industry4">
              {{ 'platform.jammer.dataform.industryoptions.option4' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="He/Him" id="industry5" formControlName="industryPast">
            <label class="form-check-label" for="industry5">
              {{ 'platform.jammer.dataform.industryoptions.option5' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="He/Him" id="industry6" formControlName="industryNo">
            <label class="form-check-label" for="industry6">
              {{ 'platform.jammer.dataform.industryoptions.option6' | translate }}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-6"> <!-- JAMS -->
        <label for="participation" class="required">{{ 'platform.jammer.dataform.participation' | translate }}</label>
        <div class="border border-secondary rounded p-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="participation" id="jam1" value="Never participated" formControlName="participation">
            <label class="form-check-label" for="jam1">
              {{ 'platform.jammer.dataform.participationoptions.option1' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="participation" id="jam2" value="One time" formControlName="participation">
            <label class="form-check-label" for="jam2">
              {{ 'platform.jammer.dataform.participationoptions.option2' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="participation" id="jam3" value="Two or three times" formControlName="participation">
            <label class="form-check-label" for="jam3">
              {{ 'platform.jammer.dataform.participationoptions.option3' | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="participation" id="jam4" value="Four times or more" formControlName="participation">
            <label class="form-check-label" for="jam4">
              {{ 'platform.jammer.dataform.participationoptions.option4' | translate }}
            </label>
          </div>
        </div>
        
      </div>

      <div class="form-group col-sm-12"> <!-- TERMS AND CONDITIONS -->
        <!-- -->
        <label for="terms" class="required mt-3" [innerHTML]="'platform.jammer.dataform.termsandconditions' | translate:{ rulesLink }">
        </label>
        <div class="border border-secondary rounded p-2">
          <div [ngClass]="{'form-check': true, 'error': !termsOfConduct}">

            <input class="form-check-input" type="checkbox" id="terms" formControlName="termsOfConduct">
            <label class="form-check-label" for="terms">
              {{ 'platform.jammer.dataform.termsoptions.option1' | translate }}
            </label>
          </div>

          <div [ngClass]="{'form-check': true, 'error': !termsOfImage}">
            <input class="form-check-input" type="checkbox" id="terms" formControlName="termsOfImage">
            <label class="form-check-label" for="terms">
              {{ 'platform.jammer.dataform.termsoptions.option2' | translate }}
            </label>
          </div>

          <div [ngClass]="{'form-check': true, 'error': !termsOfIP}">
            <input class="form-check-input" type="checkbox" id="terms" formControlName="termsOfIP">
            <label class="form-check-label" for="terms">
              {{ 'platform.jammer.dataform.termsoptions.option3' | translate }}
            </label>
          </div>
        </div>
      </div>

      <div class="error p-3 d-block text-center" *ngIf="!jammerDataFormValid">
        {{ 'platform.jammer.dataform.error' | translate }}
      </div>

      <button type="submit" class="navbutton navL1 flex-center my-3 col-sm-12">{{ 'platform.common.sendform' | translate }}</button>
    </div>
  </form>
</div>

<!-- #endregion -->

<app-messages></app-messages>
