<section class="vh-100 backgroundGradient py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <div *ngIf="errorMessage" id="errorMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ errorMessage }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errorMessage=''">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="Card">
          <div class="Card-body">
            <form (submit)="submitForm()" [formGroup]="registerForm">
              <div class="row">
                <div style="display: flex; align-items: center; position: relative;">
                  <div class="title" style="flex: 1; text-align: center;">
                    {{ 'platform.common.register' | translate }}
                  </div>
                  <mat-icon [tooltip]="tooltipContent" 
                  placement="bottom"
                  container="body"
                  style="vertical-align: middle;">
                  info
                  </mat-icon>
                </div>

                <ng-template #tooltipContent>
                  <div class="row">
                    <p><b>{{ 'platform.register.innertext.tooltipline1' | translate }}</b><br>
                      {{ 'platform.register.innertext.tooltipline2' | translate }}</p>
                      <ul>
                        <li>{{ 'platform.register.innertext.tooltipline3' | translate }}</li>
                        <li>{{ 'platform.register.innertext.tooltipline4' | translate }}</li>
                        <li>{{ 'platform.register.innertext.tooltipline5' | translate }}</li>
                      </ul>
                      <p>{{ 'platform.register.innertext.tooltipline6' | translate }}</p>
                  </div>
                </ng-template>
                
                <!-- Email -->
                <div class="inputTitle">
                  {{ 'platform.common.email' | translate }}
                </div>
                <mat-form-field appearance="fill" class="selectorStyle inputSpace">
                  <mat-label>
                    {{ 'platform.common.writehere' | translate }}
                  </mat-label>
                  <input matInput 
                         type="email" 
                         id="emailInput" 
                         required 
                         placeholder="user@user.com" 
                         formControlName="email">
                </mat-form-field>

                <!-- Name -->
                <div class="inputTitle">
                  {{ 'platform.common.name' | translate }}
                </div>
                <mat-form-field appearance="fill" class="selectorStyle inputSpace">
                  <mat-label>
                    {{ 'platform.common.writehere' | translate }}
                  </mat-label>
                  <input matInput
                        id="nameInput"
                        required
                        placeholder="John Game Jam"
                        formControlName="name">
                </mat-form-field>

                <!-- Discord -->
                <div class="inputTitle">
                  {{ 'platform.common.discord' | translate }}
                </div>
                <mat-form-field appearance="fill" class="selectorStyle inputSpace">
                  <mat-label>
                    {{ 'platform.common.writehere' | translate }}
                  </mat-label>
                  <input matInput
                        id="discordUsernameInput"
                        required
                        placeholder="discord"
                        formControlName="discordUsername">
                </mat-form-field>

                <!-- Instagram -->
                <div class="inputTitle">
                  Instagram
                </div>
                <mat-form-field appearance="fill" class="selectorStyle inputSpace">
                  <mat-label>
                    {{ 'platform.common.writehere' | translate }}
                  </mat-label>
                  <input matInput
                        id="instagramInput"
                        placeholder="Instagram"
                        formControlName="instagram">
                </mat-form-field>

                <!-- Linkedin -->
                <div class="inputTitle">
                  Linkedin
                </div>
                <mat-form-field appearance="fill" class="selectorStyle inputSpace">
                  <mat-label>
                    {{ 'platform.common.writehere' | translate }}
                  </mat-label>
                  <input matInput
                        id="linkedinInput"
                        placeholder="Linkedin"
                        formControlName="linkedin">
                </mat-form-field>

                <!-- Cell Number / WhatsApp -->
                <div class="inputTitle">
                  {{ 'platform.common.cellnumber' | translate }} / WhatsApp
                </div>
                <mat-form-field appearance="fill" class="selectorStyle inputSpace">
                  <mat-label>
                    {{ 'platform.common.writehere' | translate }}
                  </mat-label>
                  <input matInput
                        id="telefoneWhatsAppInput"
                        placeholder="+55 11 99988 7755"
                        formControlName="telefoneWhatsApp">
                </mat-form-field>

                <!-- Ethnicity -->
                <div class="inputTitle">
                  {{ 'platform.jammer.dataform.ethnicity' | translate }}
                </div>
                <mat-form-field appearance="fill" class="selectorStyle">
                  <mat-label>
                    {{ 'platform.common.selecthere' | translate }}
                  </mat-label>
                  <mat-select formControlName="ethnicity" required>
                    <mat-option value="Asian">{{ 'platform.jammer.dataform.ethnicityoptions.asian' | translate }}</mat-option>
                    <mat-option value="Black">{{ 'platform.jammer.dataform.ethnicityoptions.black' | translate }}</mat-option>
                    <mat-option value="Brown(Mixed)">{{ 'platform.jammer.dataform.ethnicityoptions.brown' | translate }}</mat-option>
                    <mat-option value="Indigenous">{{ 'platform.jammer.dataform.ethnicityoptions.indiginous' | translate }}</mat-option>
                    <mat-option value="White">{{ 'platform.jammer.dataform.ethnicityoptions.white' | translate }}</mat-option>
                    <mat-option value="Prefer not to declare">{{ 'platform.jammer.dataform.no' | translate }}</mat-option>
                  </mat-select>
                </mat-form-field>
                
                <!-- Gender -->
                <div class="inputTitle">
                  {{ 'platform.jammer.dataform.gender' | translate }}
                </div>
                <mat-form-field appearance="fill" class="selectorStyle">
                  <mat-label>
                    {{ 'platform.common.selecthere' | translate }}
                  </mat-label>
                  <mat-select formControlName="gender" required>
                    <mat-option value="Female">{{ 'platform.jammer.dataform.genderoptions.female' | translate }}</mat-option>
                    <mat-option value="Male">{{ 'platform.jammer.dataform.genderoptions.male' | translate }}</mat-option>
                    <mat-option value="Non-binary">{{ 'platform.jammer.dataform.genderoptions.nonbinary' | translate }}</mat-option>
                    <mat-option value="Prefer not to declare">{{ 'platform.jammer.dataform.no' | translate }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Intersex -->
                <div class="inputTitle">
                  {{ 'platform.jammer.dataform.intersex' | translate }}
                </div>
                <mat-form-field appearance="fill" class="selectorStyle">
                  <mat-label>
                    {{ 'platform.common.selecthere' | translate }}
                  </mat-label>
                  <mat-select formControlName="intersex" required>
                    <mat-option value="Yes">{{ 'platform.common.yes' | translate }}</mat-option>
                    <mat-option value="No">{{ 'platform.common.no' | translate }}</mat-option>
                    <mat-option value="Prefer not to declare">{{ 'platform.jammer.dataform.no' | translate }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Gender Identity -->
                <div class="inputTitle">
                  {{ 'platform.jammer.dataform.identity' | translate }}
                </div>
                <mat-form-field appearance="fill" class="selectorStyle">
                  <mat-label>
                    {{ 'platform.common.selecthere' | translate }}
                  </mat-label>
                  <mat-select formControlName="identity" multiple required>
                    <mat-option value="Agender">{{ 'platform.jammer.dataform.identityoptions.agender' | translate }}</mat-option>
                    <mat-option value="Cisgender man">{{ 'platform.jammer.dataform.identityoptions.cisman' | translate }}</mat-option>
                    <mat-option value="Cisgender woman">{{ 'platform.jammer.dataform.identityoptions.ciswoman' | translate }}</mat-option>
                    <mat-option value="Gender fluid">{{ 'platform.jammer.dataform.identityoptions.genderfluid' | translate }}</mat-option>
                    <mat-option value="Queer">{{ 'platform.jammer.dataform.identityoptions.queer' | translate }}</mat-option>
                    <mat-option value="Transgender man">{{ 'platform.jammer.dataform.identityoptions.transman' | translate }}</mat-option>
                    <mat-option value="Transgender woman">{{ 'platform.jammer.dataform.identityoptions.transwoman' | translate }}</mat-option>
                    <mat-option value="Travesti">{{ 'platform.jammer.dataform.identityoptions.travesti' | translate }}</mat-option>
                    <mat-option value="Other">{{ 'platform.jammer.dataform.other' | translate }}</mat-option>
                    <mat-option value="Prefer not to declare">{{ 'platform.jammer.dataform.no' | translate }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Orientation -->
                <div class="inputTitle">
                  {{ 'platform.jammer.dataform.orientation' | translate }}
                </div>
                <mat-form-field appearance="fill" class="selectorStyle">
                  <mat-label>
                    {{ 'platform.common.selecthere' | translate }}
                  </mat-label>
                  <mat-select formControlName="orientation" multiple required>
                    <mat-option value="Asexual">{{ 'platform.jammer.dataform.orientationoptions.asexual' | translate }}</mat-option>
                    <mat-option value="Bisexual">{{ 'platform.jammer.dataform.orientationoptions.bisexual' | translate }}</mat-option>
                    <mat-option value="Gay">{{ 'platform.jammer.dataform.orientationoptions.gay' | translate }}</mat-option>
                    <mat-option value="Heterosexual">{{ 'platform.jammer.dataform.orientationoptions.heterosexual' | translate }}</mat-option>
                    <mat-option value="Lesbian">{{ 'platform.jammer.dataform.orientationoptions.lesbian' | translate }}</mat-option>
                    <mat-option value="Pansexual">{{ 'platform.jammer.dataform.orientationoptions.pansexual' | translate }}</mat-option>
                    <mat-option value="Other">{{ 'platform.jammer.dataform.other' | translate }}</mat-option>
                    <mat-option value="Prefer not to declare">{{ 'platform.jammer.dataform.no' | translate }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Disabilities -->
                <div class="inputTitle">
                  {{ 'platform.jammer.dataform.disability' | translate }}
                </div>
                <mat-form-field appearance="fill"  class="selectorStyle">
                  <mat-label>
                    {{ 'platform.common.selecthere' | translate }}
                  </mat-label>
                  <mat-select formControlName="disability" multiple>
                    <mat-option value="No">{{ 'platform.common.no' | translate }}</mat-option>
                    <mat-option value="Visual disability">{{ 'platform.jammer.dataform.disabilityoptions.intellectual' | translate }}</mat-option>
                    <mat-option value="Physical disability">{{ 'platform.jammer.dataform.disabilityoptions.physical' | translate }}</mat-option>
                    <mat-option value="Hearing disability">{{ 'platform.jammer.dataform.disabilityoptions.hearing' | translate }}</mat-option>
                    <mat-option value="Other">{{ 'platform.jammer.dataform.other' | translate }}</mat-option>
                    <mat-option value="Prefer not to declare">{{ 'platform.jammer.dataform.no' | translate }}</mat-option>
                  </mat-select>
                </mat-form-field>              

                <!-- Participation -->
                <div class="inputTitle">
                  {{ 'platform.jammer.dataform.participation' | translate }}
                </div>
                <mat-form-field appearance="fill" class="selectorStyle">
                  <mat-label>
                    {{ 'platform.common.selecthere' | translate }}
                  </mat-label>
                  <mat-select formControlName="participation" required>
                    <mat-option value="Never participated">{{ 'platform.jammer.dataform.participationoptions.option1' | translate }}</mat-option>
                    <mat-option value="One time">{{ 'platform.jammer.dataform.participationoptions.option2' | translate }}</mat-option>
                    <mat-option value="Two or three times">{{ 'platform.jammer.dataform.participationoptions.option3' | translate }}</mat-option>
                    <mat-option value="Four times or more">{{ 'platform.jammer.dataform.participationoptions.option4' | translate }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Student -->
                <div class="inputTitle">
                  {{ 'platform.jammer.dataform.student' | translate }}
                </div>
                <mat-form-field appearance="fill" class="selectorStyle">
                  <mat-label>
                    {{ 'platform.common.selecthere' | translate }}
                  </mat-label>
                  <mat-select formControlName="student" required>
                    <mat-option value="Yes">{{ 'platform.common.yes' | translate }}</mat-option>
                    <mat-option value="No">{{ 'platform.common.no' | translate }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- School -->
                <div class="inputTitle">
                  {{ 'platform.jammer.dataform.school' | translate }}
                </div>
                <mat-form-field appearance="fill" class="selectorStyle inputSpace">
                  <mat-label>
                    {{ 'platform.common.writehere' | translate }}
                  </mat-label>
                  <input matInput
                        id="schoolInput"
                        required
                        placeholder=""
                        formControlName="school">
                </mat-form-field>

                <div *ngIf="errorMessage" class="error">
                  {{ errorMessage }}
                </div>

                <div class="row">
                  <div class="registerBTN">
                    <button type="submit" class="btn btn-default registerFont">
                      {{ 'platform.common.register' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-messages></app-messages>
