<section class="vh-100 backgroundGradient py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <div *ngIf="errorMessage" id="errorMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ errorMessage }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errorMessage=''">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="Card">
          <div class="Card-body">
            <form (submit)="submitForm()" [formGroup]="registerForm">
              <div class="row">
                <div class="title">Register</div>
                
                <div class="inputTitle">Email *</div>
                <div class="row">
                  <div class="form-group inputSpace">
                    <input #emailInput type="email" class="form-control" id="emailInput" required placeholder="Email" formControlName="email">
                  </div>
                </div>

                <div class="inputTitle">Full Name *</div>
                <div class="row">
                  <div class="form-group inputSpace">
                    <input #nameInput class="form-control" id="nameInput" required placeholder="Full Name" formControlName="name">
                  </div>
                </div>

                <div class="inputTitle">Discord Username *</div>
                <div class="row">
                  <div class="form-group inputSpace">
                    <input #discordUsernameInput class="form-control" id="discordUsernameInput" required placeholder="Discord Username" formControlName="discordUsername">
                  </div>
                </div>

                <div class="inputTitle">Instagram*</div>
                <div class="row">
                  <div class="form-group inputSpace">
                    <input #instagramInput type="instagram" class="form-control" id="instagramInput" required placeholder="Instagram" formControlName="instagram">
                  </div>
                </div>

                <div class="inputTitle">Linkedin</div>
                <div class="row">
                  <div class="form-group inputSpace">
                    <input #linkedinInput type="linkedin" class="form-control" id="linkedinInput" placeholder="Linkedin" formControlName="linkedin">
                  </div>
                </div>

                <div class="inputTitle">Cell Number / WhatsApp</div>
                <div class="row">
                  <div class="form-group inputSpace">
                    <input #telefoneWhatsAppInput type="telefoneWhatsApp" class="form-control" id="telefoneWhatsAppInput" placeholder="Cell Number / WhatsApp" formControlName="telefoneWhatsApp">
                  </div>
                </div>

                <div class="inputTitle">
                  
                      Please select the option that represents your self-declared race/ethnicity:*
                      <a matTooltip="* Why are we asking this?      
                These questions help us in several important ways:

                * They support our participation in public and private funding opportunities that require that kind of data.
                * They allow us to assess whether we’re successfully building a more diverse, inclusive, and representative community.
                * They help us create specific categories, awards, or initiatives within GameJamPlus that celebrate and promote diversity.

                Your answers are confidential and will be used solely for statistical and strategic purposes. You can always choose 'Prefer not to declare' if you're not comfortable sharing." class="tooltip-trigger">?</a>
                  
  
                </div>
                
                <div class="row">
                  <div class="form-group inputSpace">
                    <select class="ethnicity" required formControlName="ethnicity">
                    <option value="Asian">Asian</option>
                    <option value="Black">Black</option>
                    <option value="Brown(Mixed)">Brown(Mixed)</option>
                    <option value="Indigenous">Indigenous</option>
                    <option value="White">White</option>
                    <option value="Prefer not to declare">Prefer not to declare</option>
                  </select>
                  </div>
                </div>
                

                <div class="inputTitle">Please select your gender:*
                  <a matTooltip="* Why are we asking this?
                These questions help us in several important ways:

                * They support our participation in public and private funding opportunities that require that kind of data.
                * They allow us to assess whether we’re successfully building a more diverse, inclusive, and representative community.
                * They help us create specific categories, awards, or initiatives within GameJamPlus that celebrate and promote diversity.

                Your answers are confidential and will be used solely for statistical and strategic purposes. You can always choose 'Prefer not to declare' if you're not comfortable sharing." class="tooltip-trigger">?</a>
                </div>
                <div class="row">
                  <div class="form-group inputSpace">
                    <select class="gender" required formControlName="gender">
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                    <option value="Non-binary">Non-binary</option>
                    <option value="Prefer not to declare">Prefer not to declare</option>
                  </select>
                  </div>  
                </div>

                
                <div class="inputTitle">Are you an intersex person?*
                  <a matTooltip="* Why are we asking this?
                These questions help us in several important ways:

                * They support our participation in public and private funding opportunities that require that kind of data.
                * They allow us to assess whether we’re successfully building a more diverse, inclusive, and representative community.
                * They help us create specific categories, awards, or initiatives within GameJamPlus that celebrate and promote diversity.

                Your answers are confidential and will be used solely for statistical and strategic purposes. You can always choose 'Prefer not to declare' if you're not comfortable sharing." class="tooltip-trigger">?</a>
                </div>
                <div class="row">
                  <div class="form-group inputSpace">
                    <select class="intersex" required formControlName="intersex">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    <option value="Prefer not to declare">Prefer not to declare</option>
                  </select>
                  </div>
                </div>

                
                <div class="inputTitle">Please select your gender identity:*
                  <a matTooltip="* Why are we asking this?
                These questions help us in several important ways:

                * They support our participation in public and private funding opportunities that require that kind of data.
                * They allow us to assess whether we’re successfully building a more diverse, inclusive, and representative community.
                * They help us create specific categories, awards, or initiatives within GameJamPlus that celebrate and promote diversity.

                Your answers are confidential and will be used solely for statistical and strategic purposes. You can always choose 'Prefer not to declare' if you're not comfortable sharing." class="tooltip-trigger">?</a>
                </div>
                <div class="row">
                  <div class="form-group inputSpace">
                    <select class="genderIdentity" required multiple formControlName="genderIdentity">
                    <option value="Agender">Agender</option>
                    <option value="Cisgender man">Cisgender man</option>
                    <option value="Cisgender woman">Cisgender woman</option>
                    <option value="Gender fluid">Gender fluid</option>
                    <option value="Queer">Queer</option>
                    <option value="Transgender man">Transgender man</option>
                    <option value="Transgender woman">Transgender woman</option>
                    <option value="Travesti">Travesti</option>
                    <option value="Other">Other</option>
                    <option value="Prefer not to declare">Prefer not to declare</option>
                  </select>
                  </div>
                </div>

                
                 <div class="inputTitle">Please select your sexual orientation:*
                  <a matTooltip="* Why are we asking this?
                These questions help us in several important ways:

                * They support our participation in public and private funding opportunities that require that kind of data.
                * They allow us to assess whether we’re successfully building a more diverse, inclusive, and representative community.
                * They help us create specific categories, awards, or initiatives within GameJamPlus that celebrate and promote diversity.

                Your answers are confidential and will be used solely for statistical and strategic purposes. You can always choose 'Prefer not to declare' if you're not comfortable sharing." class="tooltip-trigger">?</a>
                </div>
                <div class="row">
                  <div class="form-group inputSpace">
                    <select class="sexualOrientation" required multiple formControlName="sexualOrientation">
                    <option value="Asexual">Asexual</option>
                    <option value="Bisexual">Bisexual</option>
                    <option value="Gay">Gay</option>
                    <option value="Heterosexual">Heterosexual</option>
                    <option value="Lesbian">Lesbian</option>
                    <option value="Pansexual">Pansexual</option>
                    <option value="Other">Other</option>
                    <option value="Prefer not to declare">Prefer not to declare</option>
                  </select>
                  </div>
                </div>

                
                <div class="inputTitle">Do you have any disabilities?*
                  <a matTooltip="* Why are we asking this?
                These questions help us in several important ways:

                * They support our participation in public and private funding opportunities that require that kind of data.
                * They allow us to assess whether we’re successfully building a more diverse, inclusive, and representative community.
                * They help us create specific categories, awards, or initiatives within GameJamPlus that celebrate and promote diversity.

                Your answers are confidential and will be used solely for statistical and strategic purposes. You can always choose 'Prefer not to declare' if you're not comfortable sharing." class="tooltip-trigger">?</a>
                </div>
                <div class="row">
                  <div class="form-group inputSpace">
                    <select class="disability" required multiple formControlName="disability">
                    <option value="No">No</option>
                    <option value="Intellectual disability">Yes. Intellectual disability</option>
                    <option value="Physical disability">Yes. Physical disability</option>
                    <option value="Visual disability">Yes. Visual disability</option>
                    <option value="Hearing disability">Yes. Hearing disability</option>
                    <option value="Other">Other</option>
                    <option value="Prefer not to declare">Prefer not to declare</option>
                  </select>
                  </div>
                </div>

                <div class="inputTitle">Did you already take part in a GJ+ edition?*</div>
                <div class="row">
                  <div class="form-group inputSpace">
                    <select class="participation" required formControlName="participation">
                    <option value="Never participated">Never participated</option>
                    <option value="One time">One time</option>
                    <option value="Two or three times">Two or three times</option>
                    <option value="Four times or more">Four times or more</option>
                  </select>
                  </div>
                </div>

                <div class="inputTitle">Are you a student?*</div>
                <div class="row">
                  <div class="form-group inputSpace">
                    <select class="student" required formControlName="student">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                  </div>
                </div>

                <div class="inputTitle">What is the name of your School/College/University*</div>
                <div class="row">
                  <div class="form-group inputSpace">
                    <input #nameStudingInput type="nameStuding" class="form-control" id="nameStudingInput" placeholder="School/College/University" formControlName="nameStuding">
                  </div>
                </div>

                <div class="inputTitle">Do you already have a graduation degree?*</div>
                <div class="row">
                  <div class="form-group inputSpace">
                    <select class="diploma" required formControlName="diploma">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                  </div>
                </div>

                <div *ngIf="errorMessage" class="error">
                  {{ errorMessage }}
                </div>


                <div class="row">
                  <div class="registerBTN">
                    <button type="submit" class="btn btn-default registerFont">
                      Register
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-messages></app-messages>
